/*#634987 color theme*/

.Site {
  text-align: center;
  min-width: 350px;
}

.Site-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.Site-header {
  text-align: center;
  background-color: #707070;
  height: 50px;
  padding: 20px 5px 20px 5px;
  color: white;
  
}

.Nav-bar > *{
  float: left;
}

.Site-title {
  font-size: 2.5em;
  float: right;
  margin: 0px;
}

.Site-intro {
  font-size: large;
}

.Nav-home {
  height: 50px;
}



@media (min-width: 768px) {
  .Nav-btns {
    float: right;
    text-align: center;
    height: 50px;
    padding: 0px;
  }
  
  .Nav-btn {
    padding-left: 5px;
    padding-right: 5px;
    height: 47px;
    margin-left: 10px;
    background-color: #0a0a0a;
    border: 0px;
    color: white;
    border-radius:3px;
  }
  
  .Nav-btn-selected {
    background-color: #00a3cc;
  }
  
  .Nav-btn-unselected {
    background-color: black;
  }
  
  .Nav-btn-unselected:hover {
    background-color: #2a2a2a;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    height: 50px;
    border-radius:3px;
  }
  
  #splashNav {
    border-color: red;
  }
  
  #groundrNav {
    border-color: orange;
  }
  
  #grindquestNav {
    border-color: yellow;
  }
  
  #tbdNav {
    border-color: green;
  }
  
  #aboutNav {
    border-color: #3030FF;
  }
  
  .Nav-btn-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
  }
  
  .Nav-menu {
    float: right;
  }
  
  .Nav-btn-list li {
    list-style: none;
    flex: 1 auto;
  }
  
  .Nav-toggle {
    visibility: hidden;
  }
  
}

@media (max-width: 767px) {
  .Nav-menu {
    float: right;
  }
  
  .Nav-toggle {
    visibility: visible;
    float: right;
  }
  
  .Toggle-open {
    visibility: visible;
  }
  
  .Toggle-close {
    visibility: hidden;
  }
  
  .Nav-btns {
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: white;
    position: fixed;
    left: 0px;
    top: 90px;
    background-color:  #707070;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  
  .Nav-menu nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
  }
  
  .Nav-menu nav ul li {
    list-style: none;
    flex: 1 auto;
    width: 100%;
    height: 80px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: white;
  }
  
  .Nav-btn {
    width: 100%;
    height: 100%;
    border: 0px;
    color: white;
    font-size: 1.5em;
  }
  
  .Nav-btn-selected {
    background-color: #00a3cc;
  }
  
  .Nav-btn-unselected {
    background-color: #707070;
  }
  
  .Nav-btn-unselected:hover {
    background-color: #909090;
  }
}

.About-root {
  padding: 10px;
}


.About-text {
  text-align: center;
  margin-bottom: 100px;
}

.App-grid-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

.App-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  border-color: #00ccff;
  width: 100%;
  padding:10px 0px 10px 0px;
}

.App-Icon {
  max-height: 300px;
}

.App-selector {
  width: 80%;
  height: 80%;
  margin: auto;
}

.App-Label {
  width: 100%;
  bottom: 10px;
  font-size: 1.5em;
}

.clickable {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*groundr specific*/
.Groundr-background {
  background-color: white;
  width: 100%;
  height:100%;
}

.Groundr-selector {
  background-color: #00ccff;
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: center;
}

.Groundr-select {
  width: 80%;
}

.Groundr-selector-space {
 height: 100%;
 width: 10px;
}

.Groundr-submit{
  min-width: 5%;
}

.Groundr-splitter {
  width: 40%;
  height: 2px;
  margin: 14px auto 14px auto;
  background-color: black;
}

.Groundr-display {
  min-height: 500px;
  width: 95%;
  margin: 10px auto 10px auto;
  background-color: #303030;
  border-radius: 8px;
}

.Blank-drink {
  font-size: 1.5em;
  color: #707070;
  padding-top: 200px;
  margin: auto;
}

.Drink-root {
  color: white;
  margin: auto;
  max-width: 700px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding: 10px 0px 10px 0px;
}

.Drink-title {
  margin: 2px;
  padding: 2px;
  font-size:3em;
}

.Drink-desc {
  font-style: italic;
  padding: 3px 10px 3px 10px;
  margin: 0px auto 20px auto;
}

.Drink-ingredients {
  border-collapse: collapse;
  margin: auto;
  
}

.Drink-ingredient-name {
  text-align: right;
  padding: 3px 6px 3px 3px;
}


.Drink-ingredient-amount {
  text-align: left;
  padding: 3px 3px 3px 6px;
}

.Drink-directions {
  padding: 5px;
}

.Scale-pic {
  max-width: 80%;
  max-height:50vh;
  padding: 0px;
  margin: 10px auto 10px auto;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 8px;
}